{{> out_nav}}

<div class="container text-center">
  <h1 class="display-4 mt-5">LyricSense</h1>
  <p class="lead">A tool that uses artificial intelligence to help you delve deep into the meaning and history of song lyrics.</p>
  <a href="/create" class="btn btn-primary btn-lg mt-4">Get Started</a>
</div>

{{> footer}}
