<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyricSense</title>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Search icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    
    <!-- Spotify playback -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght100@;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">



</head>
<body>
    <header>
        {{> header}} <!-- This includes your header partial -->
    </header>


    <!-- Main content -->
    <main role="main" class="container">
        {{{body}}} <!-- Your page content gets inserted here -->
    </main>

    <footer>
        {{> footer}} <!-- This includes your footer partial -->
    </footer>

    <!-- Bootstrap Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

