<header>
 <nav class="navbar navbar-expand-sm border-bottom">

   <a href="/" class="navbar-brand">
  <h1 class="display-4" id="logo">LyricSense</h1>
   </a>

   <div class="container">

     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="navbar-nav me-auto">
         <li class="nav-item">

            <a class="nav-link" href="/search">Search</a>
         </li>
       </ul>

       <div class="dropdown show">
         <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{username}}
         </a>

         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <a class="nav-link" href="/accountinformation">Account</a>
           <a class="nav-link" href="#">Saved Analyses</a>
           <a class="nav-link" href="/logout">Logout</a>
        </div>
       </div>
     </div>
   </div>
   
 </nav>
</header>

<style>
  /*
  nav {
    background-color: #FF5733;
  }
  */

  #logo {
    font-family: 'DieNasty', sans-serif;
    font-size: 25px; 
    margin-bottom: 0;
  }

  .navbar-brand {
    padding-top: 0.35; 
    padding-bottom: 0.35; 
  }
</style>