<nav>
    <h1>LyricSense</h1>
</nav>

<div class="jumbotron justify-content-center align-middle">
<div class="container align-items-center">
    <h4>We count not find an existing account with the given username and email.</h4>
    <p>Please <a href="/forgotpassword">try again</a> or <a href="/create">create a new account.</a></p>
</div>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns vertically */
    align-items: center; /* Aligns horizontally */
    height: 100vh; /* Adjust the height to the viewport height */
    margin-top: -100px; /* Adjust this value to shift the flex item up */
  }
  form{
    text-align:left;
  }

  nav{
    font-family: 'DieNasty', sans-serif;
  }
</style>