{{> header}}
{{> in_nav}}

<div class="container text-center">
  <h2 class="my-4">Account Information</h2> 
</div>

<div class="container">
  <table class="table table-responsive">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{username}}</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{email}}</td>
      </tr>
    </tbody>
  </table>
</div>

{{> footer}}