<div class="jumbotron justify-content-center align-middle">

<div class="vh-100 d-flex flex-column justify-content-center align-items-center text-center" id="container">
  <h2>Reset Password</h2>
  <p>Please enter your current username and email, along with your new password. After clicking 'Reset Password', you will receive a confirmation and can login again.</p>
  <form method="POST" action="/forgotpassword" class="w-100" style="max-width: 320px;">
    <div class="mb-3">
      <br>
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <br>
    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" class="form-control" id="password" name="password">
      <p>Please use a mix of uppercase and lowercase letters with numbers, and symbols for a strong password. Try to avoid simple patterns.</p>
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Reset Password</button>
    <br>
    <p>Go back to <a href="/login">Login</a></p>
  </form>
</div>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns vertically */
    align-items: center; /* Aligns horizontally */
    height: 100vh; /* Adjust the height to the viewport height */
    margin-top: -100px; /* Adjust this value to shift the flex item up */
  }
  form{
    text-align:left;
  }
</style>
