<main>
    <svg class="ip" viewBox="0 0 256 128" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                <stop offset="0%" stop-color="white" />
                <stop offset="100%" stop-color="white" />
            </linearGradient>
            <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                <stop offset="0%" stop-color="white" />
                <stop offset="100%" stop-color="white" />
            </linearGradient>
        </defs>
        <g fill="none" stroke-linecap="round" stroke-width="16">
            <g class="ip__track" stroke="grey">
                <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
            </g>
            <g stroke-dasharray="180 656">
                <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
            </g>
        </g>
    </svg>
</main>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222; /* Ensuring the body fills the entire screen */
}
main {
    display: flex; /* This makes it easier to center the content of main */
    justify-content: center; /* Center horizontally inside the main */
    align-items: center; /* Center vertically inside the main */
    width: 100%; /* Ensures main element stretches across the viewport width */
    height: 100vh; /* Matches the viewport height */
}
.ip {
    width: 16em;
    height: 8em;
}
.ip__track {
    stroke: grey; /* Infinity sign background to grey */
}
.ip__worm1, .ip__worm2 {
    stroke: {{dominantColor}}; /* Infinity animation to white */
    animation: worm1 2s linear infinite;
}
.ip__worm2 {
    animation-name: worm2;
}

@keyframes worm1 {
    from { stroke-dashoffset: 0; }
    50% { animation-timing-function: steps(1); stroke-dashoffset: -358; }
    50.01% { animation-timing-function: linear; stroke-dashoffset: 358; }
    to { stroke-dashoffset: 0; }
}
@keyframes worm2 {
    from { stroke-dashoffset: 358; }
    50% { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -358; }
}
</style>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dominantColor = "{{dominantColor}}"; // Ensure this value is passed from the server
    // Set the gradient stop colors
    document.querySelectorAll('stop').forEach(stop => {
      stop.setAttribute('stop-color', dominantColor);
    });

    console.log('Redirecting to:', "{{{redirectUrl}}}");
    setTimeout(() => {
      window.location.href = "{{{redirectUrl}}}";
    }, 1000); // Adjust timing as needed
  });
</script>








