{{> out_nav}}
<body>
<div class="container text-center">
    <p>Your session has been securely closed. Thank you for visiting!
    </p>
    <a href="/" class="btn btn-primary mt-3">Return to Homepage</a>
    <h1>Logout Successful</h1>
</div>

</body>
