{{> out_nav}}
{{!-- <nav>
  <h1>LyricSense</h1>
</nav> --}}
<body>
    <div class="container">
        <div>
            <h1>Logout Successful</h1>
        </div>

        <p>Your session has been securely closed. Thank you for visiting our site!</p>
        
        <a href="/" class="btn btn-primary">Return to Homepage</a>
    </div>
</body>
{{!-- <style>  
    nav{
    font-family: 'DieNasty', sans-serif;
  }
  </style> --}}