<nav>
    <h1>LyricSense</h1>
</nav>

<div class="jumbotron justify-content-center align-middle">
<div class="container justify-content-center align-items-center">
    <p>Your password was reset successfully! You can now log in with your new password.</p>
    <p>Click <a href="/login">here</a> to login.</p>
    <p>Return to the <a href="/">homepage here</a>.</p>
</div>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns vertically */
    align-items: center; /* Aligns horizontally */
    height: 100vh; /* Adjust the height to the viewport height */
    margin-top: -100px; /* Adjust this value to shift the flex item up */
  }
  form{
    text-align:left;
  }

  nav{
    font-family: 'DieNasty', sans-serif;
  }
</style>